/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
    text-align: center;
}

form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #cccccc;
}

p + p {
    margin-top: 1em;
}

label {
    display: inline-block;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999999;
}

input:focus, textarea:focus {
    outline-style: solid;
    outline-color: black;
}