/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


/*Main definers. Sets everything for all pages*/   
:root {
    --header-img: url("assets/chrixi is online.gif");
    --background-img: url("assets/flowers.jpg");
    --container-bg-img: url("assets/stripe.png");
    --div-bg-img: url("assets/misc071.gif");
    --content-bg: #BACD9E;
    /* theme colors */
    --content-color: #77FA57;
    --borders: 
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 
    linear-gradient(rgba(10, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.25) 50%), 
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), 
    rgba(0, 255, 0, 0.02), 
    rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.div-bg {
    border: 6px ridge #bb3d3d;
    border-radius: 9px;
    overflow:auto;
    background-image: var(--div-bg-img);
    background-repeat: repeat;
}

/*Applies to all elements*/
* {
    box-sizing: border-box;
}

body {
    background-image: var(--background-img);
    background-repeat:repeat;
}

/* Delete this eventually. This is to see how divs are setup j
div {
    border: 1px solid orange;
}
    */

#topBar {
    color: var(--content-color);
    background-image: var(--content-bg-img);
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-image: url("assets/houses.png");
    background-repeat:repeat-x;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}


#headerArea {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    order: 1;
}

#postHeader {
    border:0;
    height: 61px;
    width: 100%;
    background-image: url("assets/fence2.gif");
    background-repeat: repeat-x;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

#footer_hr {
    border:0;
    height: 30px;
    width: 100%;
    background-image: url("assets/train_divider.gif");
    background-repeat: repeat-x;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
}

#sidebar1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    order: 3;
}

#main {
    background-color: var(--content-bg);
    padding: 20px;
    order: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

#sidebar2 {
    background-color: var(--content-bg);
    padding: 20px;
    order: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    text-align: center;
}

#container {
    max-width: 900px;
    display: grid;
    border: 9px ridge var(--content-color);
    border-radius: 15px;
    padding: 15px;
    grid-template-columns: 1.3fr 550px 1fr;
    grid-column-gap: 10px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
    background-image: var(--container-bg-img);
}

/* the area below is for all links on your page
EXCEPT for the navigation */
#container a {
    color: var(--content-color);
    font-weight: bold;
}

#header {
    width: 100%;
    /* header color here! */
    height: 100px;
    text-align: center;
    margin: auto;
    display: block;
    /* this is only for a background image! */
    /* if you want to put images IN the header, 
you can add them directly to the <div id="header"></div> element! */
    background-image: var(--header-img);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

.content {
    background-image: var(--content-bg-img);
    background-repeat: repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* navigation section!! */
#navbar {
    height: 40px;
    flex: 1;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

/* navigation links*/
#navbar li a {
    color: var(--content-color);
    font-weight: 800;
    text-decoration: none;
    text-shadow: 
        -1px -1px 1px rgba(255,255,255,.1), 
        1px 1px 1px rgba(0,0,0,.5), 
        4px 4px 5px #070F05;
    /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}

#flex {
    display: flex;
}

/* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
aside {
    background-color: var(--content-bg);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    /* this makes the sidebar text slightly smaller */
}


/* this is the color of the main content area,
between the sidebars! */
main {
    background-color: var(--content-bg);
    flex: 1;
    padding: 20px;
    order: 2;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #183910;
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

h1,
h2,
h3 {
    color: #ED64F5;
}

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: #ED64F5;
}

/* this is just a cool box, it's the darker colored one */
.box {
    background-color: #62C5D9;
    border: 1px solid #ED64F5;
    padding: 10px;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

