/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


/*Main definers. Sets everything for all pages*/   
:root {
    --header-img: url("assets/chrixi is online.gif");
    --background-img: url("assets/flowers.jpg");
    --container-bg-img: url("assets/stripe.png");
    --div-bg-img: url("assets/misc071.gif");
    --content-bg: #BACD9E;
    /* theme colors */
    --content-color: #77FA57;
    --borders: 
}

/*Applies CRT effect on page */
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 
    linear-gradient(rgba(10, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.25) 50%), 
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), 
    rgba(0, 255, 0, 0.02), 
    rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/*Applies to all elements*/
* {
    box-sizing: border-box;
}

/*Sets the borders &  background on the divs that hold content */
.div-bg {
    border: 6px ridge #bb3d3d;
    border-radius: 9px;
    overflow:auto;
    background-image: var(--div-bg-img);
    background-repeat: repeat;
}

/*Sets body and background formatting */
body {
    background-image: var(--background-img);
    background-repeat:repeat;
    height: 100%;
    margin:0;
}

/*===============================================
-----THIS SECTION DEFINES THE CONTAINER GRID-----
================================================*/
.container {
    max-width: 900px;
    height: 93vh;
    display: grid;
    border: 9px ridge var(--content-color);
    border-radius: 15px;
    padding: 15px;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: auto auto 5fr auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px auto;
    /* this centers the entire page */
    background-image: var(--container-bg-img);
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    order: 1;
}

#header-divider {
    border:0;
    height: 61px;
    background-image: url("assets/fence2.gif");
    background-repeat: repeat-x;
    background-position: center center;
    grid-column-start: 1;
    grid-column-end: 3;
}

#sidebar1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    order: 3;
}

.main {
    background-color: var(--content-bg);
    order: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

/*===============================================
-----THIS SECTION DEFINES THE CONTAINER GRID-----
================================================*/

#footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #6B3F23;
}

#footer p {
    margin:0;
}

#footer-divider {
    border:0;
    height: 30px;
    width: 100%;
    background-image: url("assets/train_divider.gif");
    background-repeat: repeat-x;
}

/* the area below is for all links on your page
EXCEPT for the navigation */
.container a {
    color: var(--content-color);
    font-weight: bold;
}

.header {
    width: 100%;
    /* header color here! */
    height: 100px;
    text-align: center;
    margin: auto;
    display: block;
    /* this is only for a background image! */
    /* if you want to put images IN the header, 
you can add them directly to the <div id="header"></div> element! */
    /*background-image: var(--header-img);
    background-size: 80%;
    
    background-repeat: no-repeat;
    background-position: center center;*/
}

#header-img {
    background-image: var(--header-img);
    background-position: center center;
    background-repeat: no-repeat;
}

.content {
    background: var(--content-bg);
    background-repeat: repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*mask:
        linear-gradient(0,#0000 20px,#000 0px),
        radial-gradient(20px,#000 calc(100%-1px),#0000) bottom/37px 40px */
}

/* navigation section!! 
#navbar {
    height: 40px;
    flex: 1;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

/* navigation links
#navbar li a {
    color: var(--content-color);
    font-weight: 800;
    text-decoration: none;
    text-shadow: 
        -1px -1px 1px rgba(255,255,255,.1), 
        1px 1px 1px rgba(0,0,0,.5), 
        4px 4px 5px #070F05;
    /* this removes the underline 
}

/* navigation link when a link is hovered over 
#navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}

#flex {
    display: flex;
}

/* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
aside {
    background-color: var(--content-bg);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    /* this makes the sidebar text slightly smaller */
}


/* this is the color of the main content area,
between the sidebars! */
main {
    background-color: var(--content-bg);
    flex: 1;
    padding: 20px;
    order: 2;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

h1,
h2,
h3 {
    color: #ED64F5;
}

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: #ED64F5;
}

/* this is just a cool box, it's the darker colored one */
.box {
    background-color: #62C5D9;
    border: 1px solid #ED64F5;
    padding: 10px;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

