/*===============================================
        ------ BASE STYLING ------
================================================*/

:root {
    /* Assets */
    --background-img: url("assets/backgrounds/crawling.gif");
    
    --header-img: url("assets/header images/chrixi is online redux.gif");
    --container-bg-img: url("assets/backgrounds/stars.gif");
    --div-bg-img: url("assets/backgrounds/old-mathematics.png");

    --header-divider-img: url("assets/dividers/cityskyline.png");
    --footer-divider-img: url("assets/dividers/train_divider.gif");

    --chat-divider-img: url("assets/dividers/fish.gif");
    --about-divider-img: url("assets/dividers/bubbles.gif");
    --subscribe-divider-img: url("assets/dividers/jump_rope.gif");
    --latest-post-divider-img: url("assets/dividers/scribbleanimals.gif");
    
    /* Theme Colors */
    --container-border-color: #1c108b;
    --div-border-color: #423c34;
    --section-border-color: #ff9845da;
    
    --content-bg-color: #848bac;
    --div-bg-color: #44aa445b;
    
    --iframe-border-color: #073fda;
    --footer-bg-color: linear-gradient(0deg,rgba(98, 106, 143, 1) 0%, rgb(43, 43, 136) 90%, rgb(10, 37, 94) 100%);
    --moon-phase-bg-color: #848bac;
    
    --title-text-color: #005757;
    --h1-text-color: #005721;
    --h2-text-color: rgba(0, 89, 255, 0.596);
    --h3-text-color: rgba(1, 34, 97, 0.596);
    --h4-text-color: #005721;
    --paragraph-text-color: rgb(0, 0, 0);
    --content-link-text-color: #005721;
    --blockquote-color: darkslategray;

    /* Button Colors */
    --button-bg-color: #AC93B3;
    --button-border-color: #AC93B3;
    --button-text-shadow-color: #6A3B75;
}

/*Applies CRT effect on page */
.crt::before {
    content: " ";
    
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    height:100%;
    width:100%;
    
    background: 
        linear-gradient(rgba(10, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.25) 50%), 
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), 
        rgba(0, 255, 0, 0.02), 
        rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;

    z-index: 200;
}

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat905.cur), auto !important;

    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
}

html,
body {
    display: flex;
    flex-direction: column;
    
    height:100%;
}

body {
    height: 100%;
    
    margin:0;
    
    background-repeat:repeat;
    background-image: var(--background-img);
}

body > * {
    flex-shrink: 1;
}

/*===============================================
        ------ GENERAL DIV SECTION STYLING ------
================================================*/

.div-bg {
    background-image: var(--div-bg-img);
    background-repeat: repeat;
    
    background-color: var(--div-bg-color);
    
    border: 6px ridge var(--div-border-color);
    border-radius: 9px;
    
    overflow:auto;
}

.section {
    margin: 7px;
    padding: 5px;

    /*border: 6px ridge var(--section-border-color);
    border-radius: 9px;*/
}


.content {
    margin: 5px;
    padding: 15px;
    
    background: var(--content-bg-color);
    
    border-radius: 5px;
    box-shadow: 
        inset 13px 0px 6px -10px rgb(255, 255, 255), 
        inset -13px 0px 6px -10px rgb(66 66 66 / 56%), 
        inset 0px 13px 6px -10px #ffffff, 
        inset 0px -13px 6px -10px rgb(66 66 66 / 38%),
        5px 5px 6px -2px #373ace5b;
}

/*===============================================
        ------ TAG-SPECIFIC LAYOUT ------
================================================*/

/*-------------BUTTON STYLES-------------*/
button {
    place-self: center;

    width: 50%;
    
    margin:0 35px 5px 35px;
    padding:9px;
    
    background: var(--button-bg-color);

    border:2px outset var(--button-border-color);
    border-radius:10px;

    box-shadow:
        5px 5px 6px -3.5px #0e1ead9a;
    
    color:white;
    text-align:center;
    text-shadow: 
        -2px 0 var(--button-text-shadow-color), 
        0 2px var(--button-text-shadow-color), 
        2px 0 var(--button-text-shadow-color), 
        0 -2px var(--button-text-shadow-color);
 }

button:hover {
    border:2px inset var(--button-border-color);
}

/*-------------TEXT STYLES-------------*/
h1 {
    text-align: center;
    
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
    font-size: 36pt;
    
    text-shadow:#51ff007c 4px 1px 4px;
    color: var(--h1-text-color);
}

h2 {
    text-align: center;
    
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 25,
        "SCAN" 40;

    text-shadow:#ff000038 2px 1px 4px;
    color: var(--h2-text-color);
}

h3 {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 25,
        "SCAN" 20;
    
    text-shadow:#00ff803d 1px 1px 1px;
    color: var(--h3-text-color);
}

h4 {
    font-size: 16pt;
    
    text-shadow:#00ff803d 1px 1px 1px;
    color: var(--h4-text-color);
}

p,
li {
    font-size: 14pt;

    color: var(--paragraph-text-color);
}

iframe {
    border-radius: 8px;
}

strong {
    color: var(--bold-text-color);
}

a {
    color: var(--container-border-color)
}

.content a {
    color: var(--content-link-text-color);
    text-decoration: none;
}

hr {
    background-repeat: repeat-x;
    background-position-x: center;

    border: none;
}

/*-------------POST STYLES-------------*/
.tooltip {
    color: var(--content-link-text-color);
    text-decoration:dotted underline;
}

.tooltip::after {
    content:"📖";
    vertical-align: super;
    font-size: small; 
}

.post h4 {
    font-style: italic;
    font-size: 16pt;
    
    text-shadow:#00ff803d 1px 1px 1px;
    color: var(--h4-text-color);
}

.post blockquote {
    margin-left: 25px;
    padding-left: 10px;

    border-left: solid 2px;

    color: var(--blockquote-color);
}

.post a::after {
    content:"🔗";
    vertical-align: super;
    font-size: xx-small;
    text-decoration: none;
}

.post .note {
    font-size: 10pt;
}

.post ol {
    margin-left: 25px;
    
    font-size: 13pt;
}

.post ul {
    margin-left: 25px;

    font-size: 13pt;
}

.post img {
    display: block;

    border-width: 10px; 
    border-style: solid;
    border-image: url("./assets/static images/gilded-frame.png") 35 fill round;  
}

/*===============================================
    ------ CONTAINER GRID LAYOUT (HOME) ------
================================================*/

#container {
    display: grid;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 5fr;
    gap: 15px;
    
    grid-template-areas:
        "header header"
        "header-divider header-divider"
        "navbar navbar"
        "sidebar1 main";
}

#header {
    grid-area:header;
}

#header-divider {
    grid-area:header-divider;
}

#navbar {
    grid-area:navbar;
}

#sidebar1 {
    grid-area:sidebar1;
}

#main-div {
    grid-area:main;
}

/*===============================================
        ------ SIDEBAR GRID LAYOUT ------
================================================*/

#sidebar1-section {
    display:grid;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap:0px;

    grid-template-areas:
        'sidebar-box-1'
        'sidebar-box-2'
        'sidebar-box-3';
}

#sidebar-box-1 {
    grid-area: sidebar-box-1;
}

#sidebar-box-2 {
    grid-area: sidebar-box-2;
}

#sidebar-box-3 {
    grid-area: sidebar-box-3;
}

/*===============================================
      ------ MAIN GRID LAYOUT (HOME) ------
================================================*/

main {
    display:grid;
    
    grid-template-columns: 1fr auto;
    grid-template-rows: 100px 200px auto;
    gap: 0px;

    grid-template-areas:
        'welcome player .'
        'about player .'
        'about post post'
        'subscribe post post'
        'empty post post'
        '. post post';
    
    align-content: center;
}

#empty {
    grid-area: empty;
}

#welcome {
    grid-area: welcome;
}

#webdeck-player {
    grid-area: player;
}

#subscribe {
    grid-area: subscribe;
}

#about {
    grid-area: about;
}

#post {
    grid-area: post;
}

/*===============================================
    ------ CONTAINER GRID LAYOUT (FEED) ------
================================================*/

#container-feed {
    display: grid;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 5fr;
    gap: 15px;
    
    grid-template-areas:
        "header"
        "header-divider"
        "navbar"
        "main";
}

#container-feed {
    max-width: 2200px;
    height: 89vh;
    
    margin: 15px auto;
    padding: 20px;
    
    background-image: var(--container-bg-img);
    
    border: 9px ridge var(--container-border-color);
    border-radius: 15px;
}

#header {
    grid-area:header;
}

#header-divider {
    grid-area:header-divider;
}

#navbar {
    grid-area:navbar;
}

#main-div {
    grid-area:main;
}

/*===============================================
      ------ MAIN GRID LAYOUT (FEED) ------
================================================*/

#main-feed {
    display:grid;
    
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px;

    grid-template-areas:
        'post';
    
    align-content: center;
}

#feed-posts {
    grid-area: post;
}

/*===============================================
        ------ BLOG GRIDS ------
================================================*/

.report-card {
    display: flex;
    
    flex-direction: row;
    
    gap: 10px;
}
    
.pet {
    display: grid;

    flex-basis: fit-content;
    justify-content: space-between;
    
    grid-template-areas:
        'name'
        'writeup'
        'image';
    grid-template-rows: 21px auto 270px;
    
    gap: 10px;
}

.pet-name {
    grid-area: name;
}

.pet-writeup {
    grid-area: writeup;
}

.pet-image {
    grid-area: image;

    margin: auto;
}

/*===============================================
        ------ ELEMENT STYLING ------
================================================*/

/*-------------CONTAINER STYLES-------------*/
#container {
    max-width: 2200px;
    height: 89vh;
    
    margin: 15px auto;
    padding: 20px;
    
    background-image: var(--container-bg-img);
    
    border: 9px ridge var(--container-border-color);
    border-radius: 15px;
}

/*-------------HEADER STYLES-------------*/
#header {
    display: block;
    
    height: 100px;
    width: 100%;
    
    margin: auto;
    
    text-align: center;

    background-image: var(--header-img);
}

#header-divider {
    height: 61px;
    
    background-image: var(--header-divider-img);
    background-repeat: repeat-x;
    background-position: center center;
    
    border:0;
}

/*-------------NAVBAR STYLES-------------*/
#navbar {
    height:100%;
    
    align-content: space-around;
}

#nav-buttons {
    display:flex;
}

/*-------------SIDEBAR STYLES-------------*/
.chat hr {
    margin-bottom: 10px;
    
    height: 40px;
    
    background-image: var(--chat-divider-img);
}

#sidebar-box-3 {
    display: flex;
    
    background-color: var(--moon-phase-bg-color);
    
    justify-content: center;
}

/*-------------MAIN CONTENT STYLES-------------*/
#webdeck-images {
    max-height: 0px;
    max-width: 0px;
}

#welcome {
    margin: 15px;
    
    text-align: center;
}

#welcome h1 {
    font-size: 3em;
    color: var(--title-text-color);
}

#about hr {
    height: 30px;
    
    background-image: var(--about-divider-img);
}

#subscribe {
    z-index: 3;
}

#subscribe hr {
    height: 35px;
    
    background-image: var(--subscribe-divider-img);
    background-repeat: repeat-x;
    background-position-x: center;

    border: none;
}

#empty {
    position:relative;
    
    max-width: 0px;
    max-height: 0px;
}

#empty img {
    z-index: 2;
}

#webdeck-player {
    height: 290px;
    width: 640px;
    
    justify-content: center;
}

#post-divider {
    margin-top: 10px;
    
    height:30px;
    
    background-image: var(--latest-post-divider-img);
    background-repeat:repeat-x;
    background-position-x: center;
    
    border:none;
}

#newsletter-form {
    align-content: center;
}

#newsletter-submit {
    margin-top:10px;
}

/*-------------FOOTER STYLES-------------*/
#footer {
    bottom: 0;
    flex-grow: 1;
    
    width: 100%;
    
    background: var(--footer-bg-color);
    
    text-align: center;
}

#footer p {
    margin-top:0;
    margin-bottom: 10px;
}

#footer-divider {
    height: 30px;
    width: 100%;
    
    margin-top:10px;
    margin-bottom:10px;
    
    background-image: var(--footer-divider-img);
    background-repeat: repeat-x;
    
    border:0;
}

/*===============================================
        ------RESPONSIVE STYLING------
================================================*/

/*-------------WEBAMP STYLING FOR SMALLER SCREENS-------------*/

@media only screen and (max-width: 1510px) {

    main {
        grid-template-rows: 100px auto;
        grid-template-areas:
            'welcome'
            'about'
            'player'
            'post'
            'subscribe';
        
        overflow-x: hidden;
    }
    
    #empty1 {
        display: none;
    }

    #empty {
        display: none;
    }
/*
    #webdeck-player {
        display: none;
    }
        */
}

@media only screen and (max-width: 1310px) {
    
    #header img{
        display:none;
    }

    #header {
        background-image: var(--header-img);
        background-position: center center;
        background-repeat: no-repeat;
    }

}

@media only screen and (max-width: 1210px) {

    :root {
        /* Assets */ 
        --header-img: url("assets/header images/chrixi is online redux small.gif");
    }

    /*-------------TYPE-SPECIFIC STYLES-------------*/

    button {
        margin: auto;
    }

    /*-------------GENERAL DIV SECTION STYLING-------------*/
    .div-bg {
        border: 3px ridge var(--div-border-color);
        border-radius: 6px;
    }

    .section {
        margin: 5px;
    }

    .content {
        margin: 5px;
        padding:10px;
        
        background: var(--content-bg-color);
        
        border: 1px solid darkgray;
        border-radius: 2px;
        box-shadow: 
            inset 13px 0px 6px -10px rgb(66 66 66 / 20%), 
            inset -13px 0px 6px -10px rgb(66 66 66 / 56%), 
            inset 0px 13px 6px -10px #ffffff, 
            inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
    }

    /*-------------CONTAINER GRID LAYOUT-------------*/
    #container {
        display: table;
    }

    .section {
        margin: 0px;
        padding: 0px;
    }

    #header {
        height: 50px;
        object-fit: contain;
    }

    #header-divider {
        display: none;
    }

    #navbar {
        border:none;
        height: fit-content;
        background: none;
        margin-bottom: 5px;
    }

    #sidebar1 {
        display:none;
    }
}

@media only screen and (max-width: 746px) {

    main {
        grid-template-rows: 100px auto;
        grid-template-areas:
            'welcome'
            'about'
            'post'
            'subscribe';
    }

    #empty {
        display: none;
    }

    #webdeck-player {
        display: none;
    }

    .report-card {
        flex-direction: column;
    }

    .pet {
        grid-template-areas:
            'name .'
            'image writeup';
        grid-template-rows: 21px auto;

        align-items: center;
    }

}

/*===============================================
        ------SCROLLBARS STYLING------
================================================*/

::-webkit-scrollbar {
    width: 16px
}
 
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    display: block;
    
    height: 16px;
    width: 16px;
    
    border: 1px solid #000;
}
 
::-webkit-scrollbar-button:vertical:decrement {
    background: 
        linear-gradient(
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/1px 11px no-repeat, 
        
        linear-gradient(
            transparent 9.090909091%,
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/3px 11px no-repeat, 
        
        linear-gradient(
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 49% 49%/5px 11px no-repeat, 
        
        linear-gradient(
            transparent 27.272727273%,
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 49% 49%/7px 11px no-repeat, 
        
        linear-gradient(
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/9px 11px no-repeat, 
        
        linear-gradient(
            transparent 45.454545455%, 
            #000 0,
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 11px no-repeat, 
        
        linear-gradient(
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/13px 11px no-repeat, 
        #fff;
    
    border-top: 1px solid #000;
}
 
::-webkit-scrollbar-button:vertical:increment {
    height: 15px;
    
    background: 
        linear-gradient(
            0deg, 
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 51%/1px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 9.090909091%, 
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 51%/3px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 49% 51%/5px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 27.272727273%, 
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 49% 51%/7px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 51%/9px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 45.454545455%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 51%/11px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 51%/13px 11px no-repeat, 
        #fff;
    
    border-bottom: 1px solid #000;
    border-bottom: none;
}
 
::-webkit-scrollbar-button:horizontal:decrement {
    background: 
        linear-gradient(
            90deg, 
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/11px 1px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 9.090909091%, 
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/11px 3px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 49% 49%/11px 5px no-repeat,
        
        linear-gradient(
            90deg, 
            transparent 27.272727273%, 
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 49% 49%/11px 7px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 9px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 45.454545455%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 11px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 13px no-repeat, 
        #fff;
}
 
::-webkit-scrollbar-button:horizontal:increment {
    width: 15px;
    
    background: 
        linear-gradient(
            270deg, 
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 51% 49%/11px 1px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 9.090909091%, 
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 51% 49%/11px 3px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 51% 49%/11px 5px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 27.272727273%, 
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 51% 49%/11px 7px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 51% 49%/11px 9px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 45.454545455%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 51% 49%/11px 11px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 51% 49%/11px 13px no-repeat, 
    #fff;
    
    border-right: none;
}
 
::-webkit-scrollbar-track {
    background: 
        radial-gradient(
            circle at .5px .5px, 
            #000 .5px, 
            transparent 0
        ) 0/4px 2px repeat, 
        
        radial-gradient(
            circle at 2.5px 1.5px, 
            #000 .5px, 
            transparent 0
        ) 0/4px 2px repeat, 
        #fff;
}
 
::-webkit-scrollbar-track:vertical {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
 
::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
 
::-webkit-scrollbar-thumb {
    width: 14px;
    
    background-color: #fff;
    
    border: 1px solid #000;
}
 
::-webkit-scrollbar-corner {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}