/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


/*Main definers. Sets everything for all pages*/   
:root {
    --header-img: url("assets/chrixi is online.gif");
    --background-img: url("assets/flowers.jpg");
    --container-bg-img: url("assets/stripe.png");
    --div-bg-img: url("assets/misc071.gif");
    --content-bg: #e2cebb;
    /* theme colors */
    --content-color: #77FA57;
    --playerbg: #A4BE7B;
    --playerborder: #5F8D4E;
    --playertext: #285430;
    --playertitlebg: #5F8D4E;
    --playerbar: #285430;
    --playericons: #5F8D4E;
}

/*Applies CRT effect on page */
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 
    linear-gradient(rgba(10, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.25) 50%), 
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), 
    rgba(0, 255, 0, 0.02), 
    rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/*Applies to all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat905.cur), auto !important;
}

html,
body {
    height:100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 1;
}

/*Sets the borders &  background on the divs that hold content */
.div-bg {
    border: 6px ridge #91581C;
    border-radius: 9px;
    overflow:auto;
    background-image: var(--div-bg-img);
    background-repeat: repeat;
}

/*Sets body and background formatting */
body {
    background-image: var(--background-img);
    background-repeat:repeat;
    height: 100%;
    margin:0;
}

/*===============================================
-----THIS SECTION DEFINES THE CONTAINER GRID-----
================================================*/
.container {
    max-width: 1200px;
    height: 93vh;
    display: grid;
    border: 9px ridge var(--content-color);
    border-radius: 15px;
    padding: 15px;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: auto auto 2.1fr 5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 5px auto;
    /* this centers the entire page */
    background-image: var(--container-bg-img);
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    order: 1;
}

#header-divider {
    border:0;
    height: 61px;
    background-image: url("assets/fence2.gif");
    background-repeat: repeat-x;
    background-position: center center;
    grid-column-start: 1;
    grid-column-end: 3;
}

#navbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    order: 3;
    height:100%;
}

.main {
    background-color: var(--content-bg);
    order: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end:5;
    grid-row-start: 3;
}

/*===============================================
------THIS SECTION ENDS THE CONTAINER GRID------
================================================*/

#footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    flex-grow: 1;
    background-color: #6B3F23;
}

#footer p {
    margin-top:0;
    margin-bottom: 10px;
}

#footer-divider {
    border:0;
    margin-top:10px;
    margin-bottom:10px;
    height: 30px;
    width: 100%;
    background-image: url("assets/train_divider.gif");
    background-repeat: repeat-x;
}

/* the area below is for all links on your page
EXCEPT for the navigation */
.container a {
    color: var(--content-color);
    font-weight: bold;
}

.header {
    width: 100%;
    /* header color here! */
    height: 100px;
    text-align: center;
    margin: auto;
    display: block;
    /* this is only for a background image! */
    /* if you want to put images IN the header, 
you can add them directly to the <div id="header"></div> element! */
    /*background-image: var(--header-img);
    background-size: 80%;
    
    background-repeat: no-repeat;
    background-position: center center;*/
}

#header-img {
    background-image: var(--header-img);
    background-position: center center;
    background-repeat: no-repeat;
}

.content {
    background: var(--content-bg);
    background-repeat: repeat;
    margin: 5px;
    padding:20px;
    border: 1px solid darkgray;
    border-radius: 2px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 20%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
}

.content h1{
    text-align: center;
}


/* this is the color of the main content area,
between the sidebars! */

#main-div {
    display:grid;
    grid-row-gap: 10px;
}

#main-grid {
    display:grid;
    align-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#box1 {
    order: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

#box2 {
    order: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
}

#box3 {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 4;
}

#box4 {
    order: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 4;
}

#newsletter-form {
    align-content: center;
}

button {
    text-align:center;
    background:#ffc6ee;
    padding:9px;
    width: 50%;
    border:2px outset #ffc6ee;
    border-radius:10px;
    margin:0 0 5px 0;
    place-self: center;
    cursor: pointer;
    color:white;
    font-weight:bold;
    text-decoration:none;
    text-shadow: -2px 0 #ffafe7, 0 2px #ffafe7, 2px 0 #ffafe7, 0 -2px #ffafe7;
 }

#newsletter-submit {
    margin-top:10px;
}

/*Settings for the sidebars */

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.buttons {
    text-align:center;
    background:#ffc6ee;
    padding:9px;
    width: 75%;
    border:2px outset #ffc6ee;
    border-radius:10px;
    margin:0 0 5px 0;
    place-self: center;
}

.buttons:hover {
    border:2px inset #ffc6ee;
}

.buttons a {
    color:white;
    font-weight:bold;
    text-decoration:none;
    text-shadow: -2px 0 #ffafe7, 0 2px #ffafe7, 2px 0 #ffafe7, 0 -2px #ffafe7;
}

.linkbutton-1 {
    margin-top: 10px;
}

.section {
    margin: 10px;
    border: 3px outset #2f3f2e;
    background-color:#FAFFFA;
    border-width: 12px;
    border-style: solid;
    border-image: url("assets/scallop_border.png") 9 fill round;

}

h1,
h2,
h3 {
    color: #ED64F5;
}

h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: #ED64F5;
}

/*===============================================
        ------SCROLLBARS STYLING------
================================================*/

::-webkit-scrollbar {
    width: 16px
}
 
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
}
 
::-webkit-scrollbar-button:vertical:decrement {
    border-top: 1px solid #000;
    background: linear-gradient(#000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/1px 11px no-repeat, linear-gradient(transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/3px 11px no-repeat, linear-gradient(transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 49% 49%/5px 11px no-repeat, linear-gradient(transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 49% 49%/7px 11px no-repeat, linear-gradient(transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/9px 11px no-repeat, linear-gradient(transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 11px no-repeat, linear-gradient(transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/13px 11px no-repeat, #fff;
}
 
::-webkit-scrollbar-button:vertical:increment {
    border-bottom: 1px solid #000;
    background: linear-gradient(0deg, #000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 49% 51%/1px 11px no-repeat, linear-gradient(0deg, transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 49% 51%/3px 11px no-repeat, linear-gradient(0deg, transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 49% 51%/5px 11px no-repeat, linear-gradient(0deg, transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 49% 51%/7px 11px no-repeat, linear-gradient(0deg, transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 51%/9px 11px no-repeat, linear-gradient(0deg, transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 49% 51%/11px 11px no-repeat, linear-gradient(0deg, transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 51%/13px 11px no-repeat, #fff;
    height: 15px;
    border-bottom: none;
}
 
::-webkit-scrollbar-button:horizontal:decrement {
    background: linear-gradient(90deg, #000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/11px 1px no-repeat, linear-gradient(90deg, transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/11px 3px no-repeat, linear-gradient(90deg, transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 49% 49%/11px 5px no-repeat, linear-gradient(90deg, transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 49% 49%/11px 7px no-repeat, linear-gradient(90deg, transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 9px no-repeat, linear-gradient(90deg, transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 11px no-repeat, linear-gradient(90deg, transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 13px no-repeat, #fff;
}
 
::-webkit-scrollbar-button:horizontal:increment {
    background: linear-gradient(270deg, #000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 51% 49%/11px 1px no-repeat, linear-gradient(270deg, transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 51% 49%/11px 3px no-repeat, linear-gradient(270deg, transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 51% 49%/11px 5px no-repeat, linear-gradient(270deg, transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 51% 49%/11px 7px no-repeat, linear-gradient(270deg, transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 51% 49%/11px 9px no-repeat, linear-gradient(270deg, transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 51% 49%/11px 11px no-repeat, linear-gradient(270deg, transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 51% 49%/11px 13px no-repeat, #fff;
    width: 15px;
    border-right: none;
}
 
::-webkit-scrollbar-track {
    background: radial-gradient(circle at .5px .5px, #000 .5px, transparent 0) 0/4px 2px repeat, radial-gradient(circle at 2.5px 1.5px, #000 .5px, transparent 0) 0/4px 2px repeat, #fff;
}
 
::-webkit-scrollbar-track:vertical {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
 
::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
 
::-webkit-scrollbar-thumb {
    background-color: #fff;
    width: 14px;
    border: 1px solid #000;
}
 
::-webkit-scrollbar-corner {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

/*===============================================
        ------WEBAMP STYLING------
================================================*/

.playercontainer {
display: flex;
flex-flow: column nowrap;
width: 100%;
height: 250px;
background-color: var(--playerbg);
border: 3px outset var(--playerborder);
padding: 5px;
align-content: center;
align-items: center;
}

.playercontainer .now-playing {
width: 100%;
height: 15%;
color: var(--playertext);
text-align: center;
text-justify: center;
font-size: .8vw;
}

.playercontainer marquee {
width: 70%;
height: 35%;
border: 3px inset var(--playerborder);
background-color: var(--playertitlebg);
color: var(--playertext);
text-align: center;
font-size: 1.15vw;
}

.playercontainer .trackdurationcontrols {
width: 100%;
height: 25%;
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
gap: .4vw;
font-size: .85vw;
color: var(--playertext);
}

.playercontainer .trackdurationcontrols .bar {
width: 60%;
margin-left: .1vw;
}

.playercontainer .trackdurationcontrols .time {
width: 15%; 
}

.playercontainer .trackdurationcontrols #current-time {
margin-left: -3px; 
}

.playercontainer .trackdurationcontrols #duration {
margin-left: -3px; 
}

.playercontainer .trackdurationcontrols input[type="range"] {
-webkit-appearance: none;
background: transparent;
display: block;
margin-left: 0;
margin-right: 0;
width: 100%;
}

/** Chrome, Safari, Opera, and Edge Chromium Track**/
.playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-runnable-track {
background: var(--playerbar);
height: 0.1rem;
width: 100%;
}

/** Firefox Track**/
.playercontainer .trackdurationcontrols input[type="range"]::-moz-range-track {
background: var(--playerbar);
height: 0.1rem;
width: 100%;
}

/** Chrome, Safari, Opera, and Edge Chromium Thumb**/
.playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
border: .1rem solid var(--playerbar);
appearance: none;
margin-top: -12px;
background-color: var(--playericons);
height: .5rem;
width: .5rem;
}

/** Firefox Thumb**/
.playercontainer .trackdurationcontrols input[type="range"]::-moz-range-thumb {
border: .1rem solid var(--playerbar);
border-radius: 0;
background-color: var(--playericons);
height: .5rem;
width: .5rem;
}

.playercontainer .trackcontrols {
width: inherit;
height: 20%;
display: flex;
flex-flow: row nowrap;
justify-content: center;
gap: 5px;
margin-top: -5%;
}

.playercontainer .trackcontrols button {
color: var(--playericons);
font-size: 1.8vw;
background-color: transparent;
border: none;
}

.playercontainer .creditstooltip {
color: var(--playerbar);
text-align: right;
align-self: flex-end;
margin-bottom: -5px;
}

/* Tooltip text */
.playercontainer .creditstooltip .playercredits {
visibility: hidden;
width: 170px;
font-size: 10px;
background-color: var(--playertitlebg);
color: white;
text-align: center;
padding: 2px 0;
border-radius: 2px;
margin: 18px 0 0 -162px;
position: absolute;
z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.playercontainer .creditstooltip:hover .playercredits {
visibility: visible;
}

@media only screen and (max-width: 750px) {
 .playercontainer .now-playing {
 font-size: 1.7vw;
}

.playercontainer marquee {
 font-size: 2.3vw;
}

.playercontainer .trackdurationcontrols {
 gap: .4vw;
 font-size: 1.7vw;
}

.playercontainer .trackdurationcontrols .bar {
 margin-left: .2vw;
 margin-right: .3vw;
}

.playercontainer .trackdurationcontrols #current-time {
margin-left: -2px; 
}

.playercontainer .trackdurationcontrols #duration {
margin-left: -3px; 
}

.playercontainer .trackcontrols button {
 color: var(--playericons);
 font-size: 4vw;
 background-color: transparent;
 border: none;
}
}

/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 1100px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    .container {
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns:100%;
    }
    .main {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    #navbar {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    #sidebar1 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    #header-img {
        object-fit: contain;
    }
}

