/*===============================================
        ------ BASE STYLING ------
================================================*/

:root {
    /* Assets */
    --background-img: url("assets/backgrounds/flowers.jpg");
    
    --container-bg-img: url("assets/backgrounds/stripe.png");
    --div-bg-img: url("assets/backgrounds/misc071.gif");
    --scallop-border-img: url("assets/backgrounds/scallop_border.png");
    
    --header-img: url("assets/header images/chrixi is online.gif");
    --header-divider-img: url("assets/dividers/fence2.gif");
    --footer-divider-img: url("assets/dividers/train_divider.gif");

    --about-divider-img: url("assets/dividers/bubbles.gif");
    --subscribe-divider-img: url("assets/dividers/jump_rope.gif");
    --latest-post-divider-img: url("assets/dividers/scribbleanimals.gif");
    
    /* Theme Colors */
    --container-border-color: #77FA57;
    --div-border-color: #91581C;
    --content-bg-color: #edf0f0;
    
    --footer-bg-color: #6B3F23;
    --moon-phase-bg-color: #99B7B2;
    
    --title-text-color: #005757;
    --h1-text-color: #005721;
    --h2-text-color: rgba(0, 89, 255, 0.596);
    --h3-text-color: rgba(1, 34, 97, 0.596);
    --paragraph-text-color: rgb(0, 0, 0);

    /* Button Colors */
    --button-bg-color: #AC93B3;
    --button-border-color: #AC93B3;
    --button-text-shadow-color: #6A3B75;

    /* Webamp Player Colors */
    --playerbg: #D2D88F;
    --playerborder: #81892B;
    --playertext: #81892B;
    --playertitlebg: #F7FBCE;
    --playerbar: #A7AE55;
    --playericons: #81892B;
}

/*Applies CRT effect on page */
.crt::before {
    content: " ";
    
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    height:100%;
    width:100%;
    
    background: 
        linear-gradient(rgba(10, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.25) 50%), 
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), 
        rgba(0, 255, 0, 0.02), 
        rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;

    z-index: 2;
}

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat905.cur), auto !important;
}

html,
body {
    display: flex;
    flex-direction: column;
    
    height:100%;
}

body {
    height: 100%;
    
    margin:0;
    
    background-repeat:repeat;
    background-image: var(--background-img);
}

body > * {
    flex-shrink: 1;
}

/*===============================================
        ------ GENERAL DIV SECTION STYLING ------
================================================*/

.div-bg {
    background-image: var(--div-bg-img);
    background-repeat: repeat;
    
    border: 6px ridge var(--div-border-color);
    border-radius: 9px;
    
    overflow:auto;
}

.section {
    margin: 10px;

    border-image: var(--scallop-border-img) 9 fill round;
    border-width: 12px;
    border-style: solid;
}


.content {
    margin: 5px;
    padding: 15px;
    
    background: var(--content-bg-color);
    
    border: 1px solid darkgray;
    border-radius: 2px;
    box-shadow: 
        inset 13px 0px 6px -10px rgb(66 66 66 / 20%), 
        inset -13px 0px 6px -10px rgb(66 66 66 / 56%), 
        inset 0px 13px 6px -10px #ffffff, 
        inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
}

/*===============================================
        ------ TAG-SPECIFIC LAYOUT ------
================================================*/

/*-------------BUTTON STYLES-------------*/
button {
    place-self: center;

    width: 50%;
    
    margin:0 35px 5px 35px;
    padding:9px;
    
    background: var(--button-bg-color);

    border:2px outset var(--button-border-color);
    border-radius:10px;
    
    color:white;
    text-align:center;
    text-shadow: 
        -2px 0 var(--button-text-shadow-color), 
        0 2px var(--button-text-shadow-color), 
        2px 0 var(--button-text-shadow-color), 
        0 -2px var(--button-text-shadow-color);
 }

button:hover {
    border:2px inset var(--button-border-color);
}

/*-------------TEXT STYLES-------------*/
h1 {
    text-align: center;
    
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
    font-size: 36pt;
    
    text-shadow:#51ff007c 4px 1px 4px;
    color: var(--h1-text-color);
}

h2 {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 25,
        "SCAN" 40;

    text-shadow:#ff000038 2px 1px 4px;
    color: var(--h2-text-color);
}

h3 {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 25,
        "SCAN" 20;
    
    text-shadow:#00ff803d 1px 1px 1px;
    color: var(--h3-text-color);
}

p, 
marquee, 
li,
.now-playing, 
.trackdurationcontrols {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13pt;

    color: var(--paragraph-text-color);
}


strong {
    color: var(--bold-text-color);
}

a {
    color: var(--container-border-color)
}

/*===============================================
        ------ CONTAINER GRID LAYOUT ------
================================================*/

#container {
    display: grid;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 5fr;
    grid-gap: 5px;
    
    grid-template-areas:
        "header header"
        "header-divider header-divider"
        "navbar navbar"
        "sidebar1 main";
}

#header {
    grid-area:header;
}

#header-divider {
    grid-area:header-divider;
}

#navbar {
    grid-area:navbar;
}

#sidebar1 {
    grid-area:sidebar1;
}

#main-div {
    grid-area:main;
}

/*===============================================
        ------ MAIN GRID LAYOUT ------
================================================*/

main {
    display:grid;
    
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-template-areas:
        'welcome post post post'
        'about post post post'
        'subscribe post post post';
    
    align-content: center;
}

#welcome {
    grid-area: welcome;
}

#subscribe {
    grid-area: subscribe;
}

#about {
    grid-area: about;
}

#post {
    grid-area: post;
}

/*===============================================
        ------ ELEMENT STYLING ------
================================================*/

/*-------------CONTAINER STYLES-------------*/
#container {
    max-width: 2000px;
    height: 93vh;
    
    margin: 5px auto;
    padding: 5px;
    
    background-image: var(--container-bg-img);
    
    border: 9px ridge var(--container-border-color);
    border-radius: 15px;
}

/*-------------HEADER STYLES-------------*/
#header {
    display: block;
    
    height: 100px;
    width: 100%;
    
    margin: auto;
    
    text-align: center;

    background-image: var(--header-img);
    background-position: center center;
    background-repeat: no-repeat;
}

#header-divider {
    height: 61px;
    
    background-image: var(--header-divider-img);
    background-repeat: repeat-x;
    background-position: center center;
    
    border:0;
}

/*-------------NAVBAR STYLES-------------*/
#navbar {
    height:100%;
    
    align-content: space-around;
}

#nav-buttons {
    display:flex;
}

/*-------------SIDEBAR STYLES-------------*/
#sidebar-box-3 {
    display: flex;
    
    background-color: var(--moon-phase-bg-color);
    
    justify-content: center;
}

/*-------------MAIN CONTENT STYLES-------------*/
#welcome {
    margin: 15px;
    
    text-align: center;
}

#welcome h1 {
    font-size: 3em;
    color: var(--title-text-color);
}

#about hr {
    height: 30px;
    
    background-image: var(--about-divider-img);
    background-repeat: repeat-x;
    background-position-x: center;

    border: none;
}

#subscribe hr {
    height: 35px;
    
    background-image: var(--subscribe-divider-img);
    background-repeat: repeat-x;
    background-position-x: center;

    border: none;
}

#post-divider {
    margin-top: 10px;
    
    height:30px;
    
    background-image: var(--latest-post-divider-img);
    background-repeat:repeat-x;
    background-position-x: center;
    
    border:none;
}

#newsletter-form {
    align-content: center;
}

#newsletter-submit {
    margin-top:10px;
}

/*-------------FOOTER STYLES-------------*/
#footer {
    bottom: 0;
    flex-grow: 1;
    
    width: 100%;
    
    background-color: var(--footer-bg-color);
    
    text-align: center;
}

#footer p {
    margin-top:0;
    margin-bottom: 10px;
}

#footer-divider {
    height: 30px;
    width: 100%;
    
    margin-top:10px;
    margin-bottom:10px;
    
    background-image: var(--footer-divider-img);
    background-repeat: repeat-x;
    
    border:0;
}

/*===============================================
        ------RESPONSIVE STYLING------
================================================*/

@media only screen and (max-width: 1000px) {
    
    :root {
        /* Assets */
        --header-img: url("assets/header images/chrixi is online small.gif");
    }

    /*-------------TYPE-SPECIFIC STYLES-------------*/
    button {
        margin: auto;
    }

    p {
        font-size: 14px;
    }

    /*-------------GENERAL DIV SECTION STYLING-------------*/
    .div-bg {
        border: 3px ridge var(--div-border-color);
        border-radius: 6px;
    }

    .section {
        margin: 5px;
    }

    .content {
        margin: 5px;
        padding:10px;
        
        background: var(--content-bg-color);
        
        border: 1px solid darkgray;
        border-radius: 2px;
        box-shadow: 
            inset 13px 0px 6px -10px rgb(66 66 66 / 20%), 
            inset -13px 0px 6px -10px rgb(66 66 66 / 56%), 
            inset 0px 13px 6px -10px #ffffff, 
            inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
    }

    /*-------------ID-SPECIFIC STYLES-------------*/

    #header {
        height: 50px;
    }

    #header-divider {
        display:none;
    }

    #footer {
        display:none;
    }


    /*-------------CONTAINER GRID LAYOUT-------------*/
    #container {
        grid-template-rows: auto;
        grid-template-columns:100%;
        grid-template-areas:
            "header"
            "header-divider"
            "navbar"
            "main-div";
        grid-gap: 3px;
    }
    
    #header {
        grid-area: header;
        object-fit: contain;
    }
    
    #main-div {
        grid-area: main-div;
    }

    #navbar {
        grid-area: navbar;
    }

    #sidebar1 {
        display:none;
    }

    /*-------------MAIN GRID LAYOUT-------------*/
    main {
        display:grid;
        
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            'welcome'
            'about'
            'post'
            'subscribe';
        
        align-content: center;
    }

    #welcome {
        grid-area: welcome;
    }

    #about {
        grid-area: about;
    }

    #post {
        grid-area: post;
    }

    #subscribe {
        grid-area: subscribe;
    }
    
}

/*===============================================
        ------WEBAMP STYLING------
================================================*/

.playercontainer {
    display: flex;
    flex-flow: column nowrap;
    
    height: 250px;
    width: 100%;
    
    padding: 5px;
    
    background-color: var(--playerbg);
    
    border: 3px outset var(--playerborder);
    
    align-content: center;
    align-items: center;
}

.playercontainer button {
    text-shadow: 
        -2px 0 #F7FBCE, 
        0 2px #F7FBCE, 
        2px 0 #F7FBCE, 
        0 -2px #F7FBCE;
}

.playercontainer .now-playing {
    height: 15%;
    width: 100%;
    
    color: var(--playertext);
    
    text-align: center;
}

.playercontainer marquee {
    height: 35%;
    width: 70%;
    
    background-color: var(--playertitlebg);
    
    border: 3px inset var(--playerborder);
    
    text-align: center;
    
    color: var(--playertext);
    font-size: 16px;
}

.playercontainer .trackdurationcontrols {
    display: flex;
    flex-flow: row nowrap;
    
    height: 25%;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    gap: .4vw;
    
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
    color: var(--playertext);
    font-size: 1.6vw;
}

.playercontainer .trackdurationcontrols .bar {
    width: 60%;
    
    margin-left: .1vw;
}

.playercontainer .trackdurationcontrols .time {
    width: 15%; 
    
    margin-left: -3px;
}

.playercontainer .trackdurationcontrols input[type="range"] {
    display: block;
    
    width: 100%;
    
    margin-left: 0;
    margin-right: 0;
    
    background: transparent;
    
    -webkit-appearance: none;
    appearance: none;
}

/** Chrome, Safari, Opera, and Edge Chromium Track**/
.playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-runnable-track {
    height: 0.1rem;
    width: 100%;
    
    background: var(--playerbar);
}

/** Firefox Track**/
.playercontainer .trackdurationcontrols input[type="range"]::-moz-range-track {
    height: 0.1rem;
    width: 100%;
    
    background: var(--playerbar);
}

/** Chrome, Safari, Opera, and Edge Chromium Thumb**/
.playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-thumb {
    height: .5rem;
    width: .5rem;
    
    margin-top: -12px;
    
    background-color: var(--playericons);
    
    border: .1rem solid var(--playerbar);
    
    -webkit-appearance: none;
    appearance: none;
}

/** Firefox Thumb**/
.playercontainer .trackdurationcontrols input[type="range"]::-moz-range-thumb {
    height: .5rem;
    width: .5rem;
    
    background-color: var(--playericons);
    
    border: .1rem solid var(--playerbar);
    border-radius: 0;
}

.playercontainer .trackcontrols {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    height: 20%;
    width: inherit;
    
    margin-top: -5%;
    gap: 5px;
}

.playercontainer .trackcontrols button {
    background-color: transparent;
    
    border: none;
    
    color: var(--playericons);
    font-size: 1.8vw;
}

.playercontainer .creditstooltip {
    align-self: flex-end;
    
    margin-bottom: -5px;
    
    text-align: right;
    
    color: var(--playerbar);
}

/* Tooltip text */
.playercontainer .creditstooltip .playercredits {
    position: absolute;
    visibility: hidden;
    
    margin: 18px 0 0 -162px;
    padding: 2px 0;
    
    width: 170px;
    
    background-color: var(--playertitlebg);
    
    border-radius: 2px;
    
    text-align: center;
    
    color: white;
    font-size: 10px;
    
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.playercontainer .creditstooltip:hover .playercredits {
    visibility: visible;
}

@media only screen and (max-width: 750px) {
    .playercontainer .now-playing {
        font-size: 1.7vw;
    }

    .playercontainer marquee {
        font-size: 2.3vw;
    }

    .playercontainer .trackdurationcontrols {
        gap: .4vw;
        
        font-size: 1.7vw;
    }

    .playercontainer .trackdurationcontrols .bar {
        margin-left: .2vw;
        margin-right: .3vw;
    }

    .playercontainer .trackdurationcontrols #current-time {
        margin-left: -2px; 
    }

    .playercontainer .trackdurationcontrols #duration {
        margin-left: -3px; 
    }

    .playercontainer .trackcontrols button {
        background-color: transparent;
        
        border: none;
        
        color: var(--playericons);
        font-size: 4vw;
    }
}

/*===============================================
        ------SCROLLBARS STYLING------
================================================*/

::-webkit-scrollbar {
    width: 16px
}
 
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    display: block;
    
    height: 16px;
    width: 16px;
    
    border: 1px solid #000;
}
 
::-webkit-scrollbar-button:vertical:decrement {
    background: 
        linear-gradient(
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/1px 11px no-repeat, 
        
        linear-gradient(
            transparent 9.090909091%,
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/3px 11px no-repeat, 
        
        linear-gradient(
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 49% 49%/5px 11px no-repeat, 
        
        linear-gradient(
            transparent 27.272727273%,
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 49% 49%/7px 11px no-repeat, 
        
        linear-gradient(
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/9px 11px no-repeat, 
        
        linear-gradient(
            transparent 45.454545455%, 
            #000 0,
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 11px no-repeat, 
        
        linear-gradient(
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/13px 11px no-repeat, 
        #fff;
    
    border-top: 1px solid #000;
}
 
::-webkit-scrollbar-button:vertical:increment {
    height: 15px;
    
    background: 
        linear-gradient(
            0deg, 
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 51%/1px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 9.090909091%, 
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 51%/3px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 49% 51%/5px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 27.272727273%, 
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 49% 51%/7px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 51%/9px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 45.454545455%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 51%/11px 11px no-repeat, 
        
        linear-gradient(
            0deg, 
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 51%/13px 11px no-repeat, 
        #fff;
    
    border-bottom: 1px solid #000;
    border-bottom: none;
}
 
::-webkit-scrollbar-button:horizontal:decrement {
    background: 
        linear-gradient(
            90deg, 
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/11px 1px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 9.090909091%, 
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 49% 49%/11px 3px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 49% 49%/11px 5px no-repeat,
        
        linear-gradient(
            90deg, 
            transparent 27.272727273%, 
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 49% 49%/11px 7px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 9px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 45.454545455%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 11px no-repeat, 
        
        linear-gradient(
            90deg, 
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 49% 49%/11px 13px no-repeat, 
        #fff;
}
 
::-webkit-scrollbar-button:horizontal:increment {
    width: 15px;
    
    background: 
        linear-gradient(
            270deg, 
            #000 9.090909091%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 51% 49%/11px 1px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 9.090909091%, 
            #000 0, 
            #000 18.181818182%, 
            #fff 0, 
            #fff 90.909090909%, 
            transparent 0
        ) 51% 49%/11px 3px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 18.181818182%, 
            #000 0, 
            #000 27.272727273%, 
            #fff 0, 
            #fff 90.909090909%, 
            #000 0, 
            #000
        ) 51% 49%/11px 5px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 27.272727273%, 
            #000 0, 
            #000 36.363636364%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000
        ) 51% 49%/11px 7px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 36.363636364%, 
            #000 0, 
            #000 45.454545455%, 
            #fff 0, 
            #fff 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 51% 49%/11px 9px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 45.454545455%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 51% 49%/11px 11px no-repeat, 
        
        linear-gradient(
            270deg, 
            transparent 54.545454545%, 
            #000 0, 
            #000 63.636363636%, 
            transparent 0
        ) 51% 49%/11px 13px no-repeat, 
    #fff;
    
    border-right: none;
}
 
::-webkit-scrollbar-track {
    background: 
        radial-gradient(
            circle at .5px .5px, 
            #000 .5px, 
            transparent 0
        ) 0/4px 2px repeat, 
        
        radial-gradient(
            circle at 2.5px 1.5px, 
            #000 .5px, 
            transparent 0
        ) 0/4px 2px repeat, 
        #fff;
}
 
::-webkit-scrollbar-track:vertical {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
 
::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
 
::-webkit-scrollbar-thumb {
    width: 14px;
    
    background-color: #fff;
    
    border: 1px solid #000;
}
 
::-webkit-scrollbar-corner {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}