
/*===============================================
        ------ BASE STYLING ------
================================================*/

:root {
    /* Assets */
    --background-img: url("assets/flowers.jpg");
    
    --container-bg-img: url("assets/stripe.png");
    --div-bg-img: url("assets/misc071.gif");
    --scallop-border-img: url("assets/scallop_border.png");
    
    --header-img: url("assets/chrixi is online.gif");
    --header-divider-img: url("assets/fence2.gif");
    --footer-divider-img: url("assets/train_divider.gif");

    --strawberry-divider-img: url("assets/strawberry_divider.png");
    
    /* Theme Colors */
    --container-border-color: #77FA57;
    --div-border-color: #91581C;
    --content-bg-color: #F8F9F9;
    --footer-bg-color: #6B3F23;
    --moon-phase-bg-color: #99B7B2;
    --bold-text-color: #4F1F5C;

    /* Button Colors */
    --button-bg-color: #AC93B3;
    --button-border-color: #AC93B3;
    --button-text-shadow-color: #6A3B75;

    /* Webamp Player Colors */
    --playerbg: #D2D88F;
    --playerborder: #81892B;
    --playertext: #81892B;
    --playertitlebg: #F7FBCE;
    --playerbar: #A7AE55;
    --playericons: #81892B;
}

/*Applies CRT effect on page */
.crt::before {
    content: " ";
    
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    height:100%;
    width:100%;
    
    background: 
        linear-gradient(rgba(10, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.25) 50%), 
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), 
        rgba(0, 255, 0, 0.02), 
        rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;

    z-index: 2;
}

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat905.cur), auto !important;
}

html,
body {
    display: flex;
    flex-direction: column;
    
    height:100%;
}

body {
    height: 100%;
    
    margin:0;
    
    background-repeat:repeat;
    background-image: var(--background-img);
}

body > * {
    flex-shrink: 1;
}

/*===============================================
        ------ GENERAL DIV SECTION STYLING ------
================================================*/

.div-bg {
    background-image: var(--div-bg-img);
    background-repeat: repeat;
    
    border: 6px ridge var(--div-border-color);
    border-radius: 9px;
    
    overflow:auto;
}

.section {
    margin: 10px;

    border-image: var(--scallop-border-img) 9 fill round;
    border-width: 12px;
    border-style: solid;
}


.content {
    margin: 5px;
    padding:20px;
    
    background: var(--content-bg);
    
    border: 1px solid darkgray;
    border-radius: 2px;
    box-shadow: 
        inset 13px 0px 6px -10px rgb(66 66 66 / 20%), 
        inset -13px 0px 6px -10px rgb(66 66 66 / 56%), 
        inset 0px 13px 6px -10px #ffffff, 
        inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
}

.content h1{
    text-align: left;
}

/*===============================================
        ------ TAG-SPECIFIC LAYOUT ------
================================================*/

/*-------------BUTTON STYLES-------------*/
button {
    place-self: center;

    width: 50%;
    
    margin:0 35px 5px 35px;
    padding:9px;
    
    background: var(--button-bg-color);

    border:2px outset var(--button-border-color);
    border-radius:10px;
    
    color:white;
    text-align:center;
    text-shadow: 
        -2px 0 var(--button-text-shadow-color), 
        0 2px var(--button-text-shadow-color), 
        2px 0 var(--button-text-shadow-color), 
        0 -2px var(--button-text-shadow-color);
 }

button:hover {
    border:2px inset var(--button-border-color);
}

/*-------------TEXT STYLES-------------*/
h1,
h2,
h3 {
    color: var(--bold-text-color);
}

h1 {
    font-size: 25px;
}

strong {
    color: var(--bold-text-color);
}

/*===============================================
        ------ CONTAINER GRID LAYOUT ------
================================================*/

#container {
    display: grid;
    
    max-width: 2000px;
    height: 93vh;
    
    margin: 25px auto;
    padding: 15px;
    
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto 5fr;
    grid-gap: 10px;
    
    grid-template-areas:
        "header header"
        "header-divider header-divider"
        "navbar navbar"
        "sidebar1 main";
}

#header {
    grid-area:header;
}

#header-divider {
    grid-area:header-divider;
}

#navbar {
    grid-area:navbar;
}

#main-div {
    grid-area:main;
}

#sidebar1 {
    grid-area:sidebar1;
}

/*===============================================
        ------ ELEMENT STYLING ------
================================================*/

/*-------------CONTAINER STYLES-------------*/
#container {
    background-image: var(--container-bg-img);
    
    border: 9px ridge var(--container-border-color);
    border-radius: 15px;
}

/*-------------HEADER STYLES-------------*/
#header {
    display: block;
    
    height: 100px;
    width: 100%;
    
    margin: auto;
    
    text-align: center;

    background-image: var(--header-img);
    background-position: center center;
    background-repeat: no-repeat;
}

#header-divider {
    height: 61px;
    
    background-image: var(--header-divider-img);
    background-repeat: repeat-x;
    background-position: center center;
    
    border:0;
}

/*-------------NAVBAR STYLES-------------*/
#navbar {
    height:100%;
    
    align-content: space-around;
}

#nav-buttons {
    display:flex;
}

/*-------------SIDEBAR STYLES-------------*/
#sidebar-box-3 {
    display: flex;
    
    background-color: var(--moon-phase-bg-color);
    
    justify-content: center;
}




/*===============================================
------THIS SECTION ENDS THE CONTAINER GRID------
================================================*/

#footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    flex-grow: 1;
    background-color: var(--footer-bg-color);
}

#footer p {
    margin-top:0;
    margin-bottom: 10px;
}

#footer-divider {
    border:0;
    margin-top:10px;
    margin-bottom:10px;
    height: 30px;
    width: 100%;
    background-image: var(--footer-divider-img);
    background-repeat: repeat-x;
}


/* this is the color of the main content area,
between the sidebars! */

#main-grid {
    display:grid;
    align-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        'welcome post post post'
        'box2 post post post'
        'box3 post post post';
}

#box1 {
    order: 1;
    grid-area: welcome;
}

#box2 {
    order: 2;
    grid-area: box2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box3 {
    order: 3;
    grid-area: box3;
}

#box4 {
    order: 3;
    grid-area: post;
}

#box4 hr {
    background-image: var(--strawberry-divider-img);
    height:30px;
    background-repeat:repeat-x;
    border:none;
    background-position-x: center;
}

#newsletter-form {
    align-content: center;
}



#newsletter-submit {
    margin-top:10px;
}

/*Settings for the sidebars */







/*===============================================
        ------SCROLLBARS STYLING------
================================================*/

::-webkit-scrollbar {
    width: 16px
}
 
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
}
 
::-webkit-scrollbar-button:vertical:decrement {
    border-top: 1px solid #000;
    background: linear-gradient(#000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/1px 11px no-repeat, linear-gradient(transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/3px 11px no-repeat, linear-gradient(transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 49% 49%/5px 11px no-repeat, linear-gradient(transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 49% 49%/7px 11px no-repeat, linear-gradient(transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/9px 11px no-repeat, linear-gradient(transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 11px no-repeat, linear-gradient(transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/13px 11px no-repeat, #fff;
}
 
::-webkit-scrollbar-button:vertical:increment {
    border-bottom: 1px solid #000;
    background: linear-gradient(0deg, #000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 49% 51%/1px 11px no-repeat, linear-gradient(0deg, transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 49% 51%/3px 11px no-repeat, linear-gradient(0deg, transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 49% 51%/5px 11px no-repeat, linear-gradient(0deg, transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 49% 51%/7px 11px no-repeat, linear-gradient(0deg, transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 51%/9px 11px no-repeat, linear-gradient(0deg, transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 49% 51%/11px 11px no-repeat, linear-gradient(0deg, transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 51%/13px 11px no-repeat, #fff;
    height: 15px;
    border-bottom: none;
}
 
::-webkit-scrollbar-button:horizontal:decrement {
    background: linear-gradient(90deg, #000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/11px 1px no-repeat, linear-gradient(90deg, transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 49% 49%/11px 3px no-repeat, linear-gradient(90deg, transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 49% 49%/11px 5px no-repeat, linear-gradient(90deg, transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 49% 49%/11px 7px no-repeat, linear-gradient(90deg, transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 9px no-repeat, linear-gradient(90deg, transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 11px no-repeat, linear-gradient(90deg, transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 49% 49%/11px 13px no-repeat, #fff;
}
 
::-webkit-scrollbar-button:horizontal:increment {
    background: linear-gradient(270deg, #000 9.090909091%, #fff 0, #fff 90.909090909%, transparent 0) 51% 49%/11px 1px no-repeat, linear-gradient(270deg, transparent 9.090909091%, #000 0, #000 18.181818182%, #fff 0, #fff 90.909090909%, transparent 0) 51% 49%/11px 3px no-repeat, linear-gradient(270deg, transparent 18.181818182%, #000 0, #000 27.272727273%, #fff 0, #fff 90.909090909%, #000 0, #000) 51% 49%/11px 5px no-repeat, linear-gradient(270deg, transparent 27.272727273%, #000 0, #000 36.363636364%, #fff 0, #fff 54.545454545%, #000 0, #000) 51% 49%/11px 7px no-repeat, linear-gradient(270deg, transparent 36.363636364%, #000 0, #000 45.454545455%, #fff 0, #fff 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 51% 49%/11px 9px no-repeat, linear-gradient(270deg, transparent 45.454545455%, #000 0, #000 63.636363636%, transparent 0) 51% 49%/11px 11px no-repeat, linear-gradient(270deg, transparent 54.545454545%, #000 0, #000 63.636363636%, transparent 0) 51% 49%/11px 13px no-repeat, #fff;
    width: 15px;
    border-right: none;
}
 
::-webkit-scrollbar-track {
    background: radial-gradient(circle at .5px .5px, #000 .5px, transparent 0) 0/4px 2px repeat, radial-gradient(circle at 2.5px 1.5px, #000 .5px, transparent 0) 0/4px 2px repeat, #fff;
}
 
::-webkit-scrollbar-track:vertical {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
 
::-webkit-scrollbar-track:horizontal {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
 
::-webkit-scrollbar-thumb {
    background-color: #fff;
    width: 14px;
    border: 1px solid #000;
}
 
::-webkit-scrollbar-corner {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

/*===============================================
        ------WEBAMP STYLING------
================================================*/

.playercontainer {
display: flex;
flex-flow: column nowrap;
width: 100%;
height: 250px;
background-color: var(--playerbg);
border: 3px outset var(--playerborder);
padding: 5px;
align-content: center;
align-items: center;
}

.playercontainer button {
    text-shadow: -2px 0 #F7FBCE, 0 2px #F7FBCE, 2px 0 #F7FBCE, 0 -2px #F7FBCE;
}

.playercontainer .now-playing {
width: 100%;
height: 15%;
color: var(--playertext);
text-align: center;
text-justify: center;
font-size: 12px;;
}

.playercontainer marquee {
width: 70%;
height: 35%;
border: 3px inset var(--playerborder);
background-color: var(--playertitlebg);
color: var(--playertext);
text-align: center;
font-size: 16px;
}

.playercontainer .trackdurationcontrols {
width: 100%;
height: 25%;
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
gap: .4vw;
font-size: .85vw;
color: var(--playertext);
}

.playercontainer .trackdurationcontrols .bar {
width: 60%;
margin-left: .1vw;
}

.playercontainer .trackdurationcontrols .time {
width: 15%; 
}

.playercontainer .trackdurationcontrols #current-time {
margin-left: -3px; 
}

.playercontainer .trackdurationcontrols #duration {
margin-left: -3px; 
}

.playercontainer .trackdurationcontrols input[type="range"] {
-webkit-appearance: none;
background: transparent;
display: block;
margin-left: 0;
margin-right: 0;
width: 100%;
}

/** Chrome, Safari, Opera, and Edge Chromium Track**/
.playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-runnable-track {
background: var(--playerbar);
height: 0.1rem;
width: 100%;
}

/** Firefox Track**/
.playercontainer .trackdurationcontrols input[type="range"]::-moz-range-track {
background: var(--playerbar);
height: 0.1rem;
width: 100%;
}

/** Chrome, Safari, Opera, and Edge Chromium Thumb**/
.playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
border: .1rem solid var(--playerbar);
appearance: none;
margin-top: -12px;
background-color: var(--playericons);
height: .5rem;
width: .5rem;
}

/** Firefox Thumb**/
.playercontainer .trackdurationcontrols input[type="range"]::-moz-range-thumb {
border: .1rem solid var(--playerbar);
border-radius: 0;
background-color: var(--playericons);
height: .5rem;
width: .5rem;
}

.playercontainer .trackcontrols {
width: inherit;
height: 20%;
display: flex;
flex-flow: row nowrap;
justify-content: center;
gap: 5px;
margin-top: -5%;
}

.playercontainer .trackcontrols button {
color: var(--playericons);
font-size: 1.8vw;
background-color: transparent;
border: none;
}

.playercontainer .creditstooltip {
color: var(--playerbar);
text-align: right;
align-self: flex-end;
margin-bottom: -5px;
}

/* Tooltip text */
.playercontainer .creditstooltip .playercredits {
visibility: hidden;
width: 170px;
font-size: 10px;
background-color: var(--playertitlebg);
color: white;
text-align: center;
padding: 2px 0;
border-radius: 2px;
margin: 18px 0 0 -162px;
position: absolute;
z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.playercontainer .creditstooltip:hover .playercredits {
visibility: visible;
}

@media only screen and (max-width: 750px) {
    .playercontainer .now-playing {
    font-size: 1.7vw;
    }

    .playercontainer marquee {
    font-size: 2.3vw;
    }

    .playercontainer .trackdurationcontrols {
    gap: .4vw;
    font-size: 1.7vw;
    }

    .playercontainer .trackdurationcontrols .bar {
    margin-left: .2vw;
    margin-right: .3vw;
    }

    .playercontainer .trackdurationcontrols #current-time {
    margin-left: -2px; 
    }

    .playercontainer .trackdurationcontrols #duration {
    margin-left: -3px; 
    }

    .playercontainer .trackcontrols button {
    color: var(--playericons);
    font-size: 4vw;
    background-color: transparent;
    border: none;
    }
}


/*===============================================
        ------RESPONSIVE STYLING------
================================================*/

@media only screen and (max-width: 1100px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    #container {
        grid-template-rows: 100px 60px 105px 5fr;
        grid-template-columns:100%;
    }
    #main-div {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    #navbar {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    #sidebar1 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    #header-img {
        object-fit: contain;
    }
}

